<nav class="sidebar-menu">
    <NavLink href="/profile" class="sidebar-menu-item" ActiveClass="active" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
    </NavLink>
    <NavLink href="/calendar" class="sidebar-menu-item" ActiveClass="active" Match="NavLinkMatch.All">
        <span class="oi oi-calendar" aria-hidden="true"></span> Calendar
    </NavLink>
    <NavLink href="/groups" class="sidebar-menu-item" ActiveClass="active" Match="NavLinkMatch.All">
        <span class="oi oi-people" aria-hidden="true"></span> Groups
    </NavLink>
</nav>